<p id="notice"><%= notice %></p>

<h1>Produts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Vendor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produts.each do |produt| %>
      <tr>
        <td><%= produt.name %></td>
        <td><%= produt.price %></td>
        <td><%= produt.vendor %></td>
        <td><%= link_to 'Show', produt %></td>
        <td><%= link_to 'Edit', edit_produt_path(produt) %></td>
        <td><%= link_to 'Destroy', produt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produt', new_produt_path %>
